<div class="container-fluid stars">
<div class="text-center">
    <h1>About This Day In Star Wars History</h1>

<p><em>This Day in Star Wars History</em> is a webapp which tells users a significant event which occurred in the <em>Star Wars</em> franchise on the day they select.
<br>These events generally fall into three categories:

<h2>Canon</h2>
        <p>These are events which occur in the modern Disney canon which began on April 25, 2014. 
        <br> This label will be applied when the fact of that day is the release of a material in the Canon timeline.
        <br>Canon includes new novels like <em>A New Dawn</em>, any of the films, or TV shows such as <em>Star Wars: Rebels.</em></em></p>
<h2>Legends</h2>
        <p>These are events which occur in the Legends timeline which ran from 1978 until April 25, 2014. 
        <br> This label will be applied when the fact of that day is the release of material in the Legends timeline.
        <br>Legends includes novels such as <em>Kenobi</em>, video games like <em>Dark Forces 2: Jedi Knight</em>, comics like <em>Star Wars: Legacy</em>, and more.</em></em></p>

<h2>Real Life</h2>
        <p>These are events which occured in our real world.
        <br> This label will be applied to events such as births, deaths, and when filming dates.</p>
        
<h2>The 6 Saga Films and Star Wars: The Clone Wars</h2>
        <p>These works are unique in that they bridge the Canon and Legends timelines. <br> Given that, they'll be categorized as both Legends works and Canon works.</p>
</div>
</div>
