<div class="container-fluid stars">
  <div class="text-center jumbotron">
    <h1>About</h1>

    <p><em>This Day in Star Wars History</em> is a fan-created webapp.<br> It tells users a significant event which occurred in the <em>Star Wars</em> franchise on the day they select.
      <br><br>These events generally fall into three categories:

      <h2>Canon</h2>
      <p>These events occur in the modern Disney canon which began on April 25, 2014.
        <br> The site applies this label when marking the release of works in the Canon timeline.
        <br>Canon includes all the Star Wars films and most works released after April 25, 2014.
      </p>
      <h2>Legends</h2>
      <p>These events occur in the Legends timeline which ran from 1978 until April 25, 2014.
        <br> The site applies this label when marking the release of works in the Legends timeline.
        <br>Legends includes the 6 original Star Wars films, several hundred tie-in novels, many video games, and most other works released before April 25, 2014.
      </p>

      <h2>Real Life</h2>
      <p>These are events which occured in our real world.
        <br> This label will be applied to events such as births, deaths, and filming dates.</p>
        <br><br>
        <p>However, there are some important exceptions to note...</p><br>
      <h2>The original 6 Star Wars Films and <em>Star Wars: The Clone Wars</em></h2>
      <p>These works are unique in that they bridge the Canon and Legends timelines. <br> Given that, they'll be categorized as both Legends works and Canon works.</p>
  </div>
</div>